@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


* {
    font-family: "Poppins", serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: var(--bg-body);
    transition: var(--trans-05);
}

.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    transition: var(--trans-03);
    white-space: nowrap;
    opacity: 1;
    display: block;
}

.sidebar.close .text {
    opacity: 0;
    display: none;
}

.sidebar .image {
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 14px;
    height: 100%;
    width: 250px;
    background: var(--bg-sidebar);
    transition: var(--trans-05);
    z-index: 100;
}

.sidebar.close {
    width: 88px;
}

.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text {
    color: var(--text-primary);
    transition: var(--trans-03);
}

.sidebar header {
    position: relative;
}

.sidebar .image-text img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

header .image-text .header-text {
    display: flex;
    flex-direction: column;
    color: var(--text-primary);
}

body.dark header .image-text .header-text {
    color: var(--text-primary);
}

.header-text .name {
    font-weight: 600;
}

.header-text .profession {
    margin-top: -2px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--role-primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--bg-sidebar);
    font-size: 22px;
    transition: var(--trans-03);
}

.sidebar.close header .toggle {
    transform: translateY(-50%);
}

body.dark .sidebar header .toggle {
    color: var(--text-primary);
}

.sidebar li a {
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 6px;
    transition: var(--trans-04);
}

.sidebar .menu {
    margin-top: 35px;
}

.sidebar .search-box {
    background: var(--role-primary-light-color);
    border-radius: 6px;
    transition: var(--trans-05);
}

.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    background: var(--role-primary-light-color);
    transition: var(--trans-05);
}

.sidebar li a:hover {
    background: var(--role-primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--bg-sidebar);
}

body.dark.sidebar li a:hover .icon,
body.dark.sidebar li a:hover .text {
    color: var(--text-primary);
}

.sidebar .menu-bar {
    height: calc(90%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode {
    position: relative;
    border-radius: 6px;
    background: var(--role-primary-light-color);
}

.menu-bar .mode .moon-sun {
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i {
    position: absolute;
    transition: var(--trans-03);
}

.menu-bar .mode i.sun {
    opacity: 0;
}

body.dark .menu-bar .mode i.sun {
    opacity: 1;
}

body.dark .menu-bar .mode i.moon {
    opacity: 0;
}

.menu-bar .mode .toggle-switch {
    position: absolute;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--role-primary-light-color);
    transition: var(--trans-05);
}

.toggle-switch .switch {
    border-radius: 25px;
    position: relative;
    height: 22px;
    width: 44px;
    background: var(--border-color);
    transition: var(--trans-03);
}

.switch::before {
    height: 15px;
    width: 15px;
    background: var(--bg-sidebar);
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    transition: var(--trans-03);
}

body.dark .switch::before {
    left: 24px;
}

.home {
    position: relative;
    height: 100vh;
    left: 250px;
    width: calc(100% - 250px);
    background-color: var(--bg-body);
    transition: var(--trans-05);
}

.home .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-primary);
    padding: 8px 40px;
}

.sidebar.close~.home {
    left: 88px;
    width: calc(100% - 88px);
}