@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", serif;
    }

body {
    display: flex;
    min-height: 100vh;
}
.home{
    position: relative;
    height: 100vh;
    left: 250px;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--trans-05);
}

.sidebar.close ~ .home{
    left: 88px;
    width: calc(100% - 88px);
}
.main-content {
    flex-grow: 1;
    padding: 30px;
}

.user-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 30px;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    margin-left: 10px;
}

.task-card {
    border: 0.5px solid;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

h3{
    position: relative;
    top: -50px;
    font-size: 25px;
    color: #333;
}

.task-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.task-description {
    color: #666;
    font-size: 14px;
    margin-bottom: 15px;
}

.task-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #666;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }
    .sidebar {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        padding: 15px;
    }
    .sidebar-icon {
        margin-bottom: 0;
        margin-right: 20px;
    }
    .main-content {
        padding: 20px;
    }
    .user-info {
        justify-content: flex-start;
        margin-bottom: 20px;
    }
}